<h1>Dear <%= @order.name %></h1>

<p>Thank you for your recent order from The Pragmatic Store.</p>

<p>You ordered the following items:</p>

<%= render @order.line_items -%>

<p>We'll send you a separate email when your order ships.</p>
